@model BlueKoi_Enterprise_Final_Project.Models.Payment.Card

@{
    Layout = "_Layout";
}

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-12  align-center dark">
            <div class="card-sign main-rounded col-lg-8 align-center bg-light text-center">

                <div class="col-lg-12 my-auto">
                    <h3 class="my-3">Add A New Card</h3>
                    <div class="row justify-content-center align-self-center d-none d-lg-block">
                        <i class="fab fa-cc-visa fa-3x mx-2"></i>
                        <i class="fab fa-cc-mastercard fa-3x mx-2"></i>
                        <i class="fab fa-cc-paypal fa-3x mx-2"></i>
                        <i class="fab fa-cc-discover fa-3x mx-2"></i>
                    </div>
                    <form asp-action="CreditCardView" method="post">
                        <input type="hidden" asp-for="AccountId" value="@ViewBag.id" />
                        <input type="hidden" asp-for="ItemURL" value="@ViewBag.url" />

                        <div class="row">
                            <span asp-validation-for="CardHolder" class="text-danger"></span>
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user" aria-hidden="true"></i></span>
                            </div>
                            <input asp-for="CardHolder" type="text" class="form-control" placeholder="Card Holder"
                                   required autofocus>
                        </div>

                        <div class="row">
                            <span asp-validation-for="CardNumber" class="text-danger"></span>
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                            </div>
                            <input asp-for="CardNumber" type="text" id="inputAccess" class="form-control" placeholder="Card Number"
                                   required>
                        </div>

                        <div class="row">
                            <div class="col">
                                <span asp-validation-for="ExpireDate" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <span asp-validation-for="CVNumber" class="text-danger"></span>
                            </div>
                        </div>
                       
                        <div class="row">

                            <div class="col">

                                <label for="inputExp">Expire Date</label>
                                <div class="input-group my-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                                    </div>
                                    <input asp-for="ExpireDate" type="text" class="form-control" placeholder="MM/YYYY"
                                           required>
                                </div>

                            </div>
                            <div class="col">

                                <label for="inputSecurity">Security Code</label>
                                <div class="input-group my-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-credit-card"></i></span>
                                    </div>
                                    <input asp-for="CVNumber" type="text" id="inputSecurity" class="form-control" placeholder="###"
                                           required>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <input type="checkbox" id="special" name="IsSpecial" value="1">
                                <label for="special">Send receipt to Email</label>
                            </div>
                        </div>

                        <button type="submit"
                                class="btn btn-black btn-purple btn-rounded btn-lg btn-block text-uppercase my-3">
                            Confirm Card
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
