@{
    ViewData["Title"] = "Home Page";
}



<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-6 align-center text-center dark lower-z">
            <div class="justify-content-center align-self-center col-lg-12">
                <h1 class="text-white">BLUE KOI</h1>
                <a asp-action="LoginView" class="btn btn-white btn-purple btn-wide btn-rounded btn-lg py-2">Sign In</a>
                <p class="text-secondary py-2">Search, Save, Buy</p>

                <div class="row justify-content-center align-self-center">
                    <img class="mx-2" height="60" src="images/ArtStation.png" alt="">
                    <img class="mx-2" height="60" src="images/Pinterest.png" alt="">
                    <img class="mx-2" height="60" src="images/DeviantArt.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-block-lg align-center">
            <img class="image rotate" src="images/BlueKoi.png" alt="">
        </div>
    </div>
</div>
