@model BlueKoi_Enterprise_Final_Project.Models.Account

@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}


<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-12  align-center dark">
            <div class="card-sign main-rounded col-lg-8 align-center bg-light text-center">
                <div class="row">
                    <div class="col-lg-6 my-auto">
                        <h3 class="my-3">Login</h3>

                        <form asp-action="LoginView" class="needs-validation" novalidate>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="UserName" />
                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                            <div class="input-group my-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-envelope"
                                           aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input asp-for="UserEmail" type="email" id="inputEmail" class="form-control" placeholder="Email"
                                       required autofocus>
                            </div>
                            <span asp-validation-for="UserPassword" class="text-danger"></span>
                            <div class="input-group my-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-lock"
                                           aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input asp-for="UserPassword" type="password" id="inputPassword" class="form-control"
                                       placeholder="Password" required>
                            </div>

                            <button type="submit" value="Create" id="submit-btn"
                                    class="btn btn-black btn-purple btn-rounded btn-lg btn-block text-uppercase my-3">
                                Register
                            </button>
                        </form>
                        <hr class="my-3 d-none d-lg-block">
                        <a asp-action="SignUpView">
                            Create New Account <i class="fa fa-long-arrow-right m-l-5"
                                                  aria-hidden="true"></i>
                        </a>

                    </div>
                    <div class="col-lg-6 d-none d-lg-block">
                        <img class="image-sign"
                             src="https://i.pinimg.com/564x/fb/c0/3c/fbc03cc9e4494d978cb0396ed8390401.jpg" alt="art">
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>


