
@model BlueKoi_Enterprise_Final_Project.Models.MyViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "StorePage";
}



<nav class="navbar navbar-expand-lg navbar-dark dark py-3">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="~/images/BlueKoi.png" width="30" height="30" class="d-inline-block align-top mr-2 rotate" alt="">
            <span>Blue Koi</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100">


                <form class="form-inline my-2 mx-lg-auto">
                    <input id="inputSearch" class="form-control mr-sm-2 form-wide" type="search" placeholder="Search" aria-label="Search">
                    <button id="search-btn" class="btn btn-white btn-purple my-2  my-sm-0" type="submit">Search</button>
                </form>

                <li>
                    <a class="nav-link active" asp-action="AccountView"  asp-route-id="@Model.account.Id">Account</a>
                </li>
                <li>
                    <a class="nav-link active" asp-action="OrderView" asp-route-id="@Model.account.Id">Orders</a>
                </li>
                <li>
                    <a class="nav-link active" asp-action="CartView" asp-route-id="@Model.account.Id"><i class="fas fa-shopping-cart"></i> Cart</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid bg-dark py-3">
    <div class="container">
        <div class="row justify-content-between">
            <img class="mx-2" height="30" src="~/images/ArtStation.png" alt="">
            <img class="mx-2" height="30" src="~/images/Pinterest.png" alt="">
            <img class="mx-2" height="30" src="~/images/DeviantArt.png" alt="">
        </div>
    </div>
</div>

<main>

    <div class="container py-2">
        <h5>Set : Developer Favorites</h5>
        <div class="brgrid">
            @foreach (var item in Model.items)
            {
                <div class="card " style="background-image:url(@item.ItemURL)"> <img class="mx-2" height="20" src="~/images/BlueKoi.png" alt=""></div>
            }

        </div>
    </div>

    

</main>
